<script lang="ts">
	import Footer from '$lib/components/Footer.svelte';
	import Header from '$lib/components/Header.svelte';
	import { getTheme, setTheme } from '$lib/theme-switch';
	import '../app.css';

	import { setContext } from 'svelte';

	let value = 'dark';
	setContext(setTheme, (upd: string) => {
		value = upd;
		window.document.documentElement.setAttribute('data-theme', upd);
	});
	setContext(getTheme, (): string => {
		return value;
	});
</script>

<div>
	<Header />
	<main class="prose mx-auto px-8">
		<slot />
	</main>
	<Footer />
</div>
