<script lang="ts">
	export let data;
</script>

<h1>Blog</h1>

{#each data.posts as post}
	<h3>
		<a href={post.path}>
			{post.meta.title}
		</a>
	</h3>
	Published {post.meta.date}
{/each}

<!--


<script>
	let name = 'Alan';
	let src =
		'https://images.unsplash.com/photo-1504639725590-34d0984388bd?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1974&q=80';
	import ThemeSelect from '$lib/theme-select.svelte';
</script>

<h1>Welcome to SvelteKit</h1>
<p>Visit <a href="https://kit.svelte.dev">kit.svelte.dev</a> to read the documentation</p>

<ThemeSelect />

-->

<!-- <h1 class="text-3xl font-bold underline">Hello {name}!</h1> -->

<!--
<div class="w-full flex justify-center content-center">
	<img {src} width="500px" alt="hacker doin their thing" />
</div>

<article class="prose lg:prose-xl">
	<h1>Hello</h1>

	<p>This is a paragraph.</p>

	<ul>
		<li>This is a list item</li>
		<li>So is this</li>
	</ul>
	And doing things!
</article>

<h1>SvelteKit Theme Switch</h1>

<p>
	This is using the <a href="https://github.com/saadeghi/theme-change"><code>theme-change</code></a>
	package with <a href="https://daisyui.com/">DaisyUI</a>.
</p>

<p>Typography is with the Tailwind Typography package.</p>

<p>Default theme is set to light.</p>

<ThemeSelect />

<p>Here's some DaisyUI buttons, yummy!</p>

<button class="btn">neutral</button>
<button class="btn btn-primary">primary</button>
<button class="btn btn-secondary">secondary</button>
<button class="btn btn-accent">accent</button>
<button class="btn btn-ghost">ghost</button>
<button class="btn btn-link">link</button>
-->
