<script lang="ts">
	import { getTheme, setTheme } from '$lib/theme-switch';
	import { getContext } from 'svelte';
	// import ThemeSelect from '$lib/theme-select.svelte';
	const themes = ['cyberpunk', 'dark', 'light', 'synthwave'];
	const setvalue = getContext<(a: string) => void>(setTheme);
	const getvalue = getContext<() => string>(getTheme);
	let selected = getvalue();

	$: setvalue(selected);
</script>

<h1>Hi, I'm Alan!</h1>

<p>This is my posts page.</p>
<p>{setvalue}</p>

<div class="mb-8">
	<select
		bind:value={selected}
		class="select select-bordered select-primary w-full max-w-3xl text-xl capitalize"
	>
		{#each themes as theme}
			<option value={theme} class="capitalize">{theme}</option>
		{/each}
	</select>
</div>
