<!-- <script>
	/** @type {string} */
	export let title;
	/** @type {Date} */
	export let date;
</script> -->

<!-- Header.svelte -->
<div class="navbar bg-base-100">
	<div class="flex-1">
		<a href="/" class="btn btn-ghost normal-case text-xl">Programmer</a>
	</div>
	<div class="flex-none">
		<ul class="menu menu-horizontal px-1">
			<li><a href="/about">About</a></li>
			<li><a href="/posts">Posts</a></li>
			<li><a href="/tags">Tags</a></li>
		</ul>
	</div>
</div>
